/* styles.css */

.container {
    display: flex; /* Utiliza Flexbox para el contenedor */
    flex-direction: column; /* Alinea los elementos en el eje princiap en Vertical */
    align-items: flex-end; /* Alinea los elementos a la derecha */
    height: 600px; /* Altura del contenedor (ejemplo) */
    padding: 10px; /* Espacio alrededor del contenedor */
}

.box {
    width: 300px; /* Ancho de cada cuadro */
    height: 600px; /* Altura de cada cuadro */    
}

.red {
    background-color: #ff0000; /* Color rojo */
}

.green {
    background-color: #4cff00; /* Color verde */
}

.blue {
    background-color: #0026ff; /* Color azul */
}
